* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcard {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: background 1s ease, border-color 1s ease;
}

.flashcard p {
  margin: 0;
  color: #333;
  font-weight: bold;
}

div.selected-gradient-1 {
  background: linear-gradient(270deg, #ff9a9e, #fad0c4);
  background-size: 400% 400%;
  animation: gradient-flow 5s ease infinite;
  color: white;
  border: 1px solid #ff9a9e;
}

div.selected-gradient-2 {
  background: linear-gradient(270deg, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
  animation: gradient-flow 5s ease infinite;
  color: white;
  border: 1px solid #a18cd1;
}

div.selected-gradient-3 {
  background: linear-gradient(270deg, #ffd60a, #f5576c);
  background-size: 400% 400%;
  animation: gradient-flow 5s ease infinite;
  color: white;
  border: 1px solid #f093fb;
}

div.selected-gradient-4 {
  background: linear-gradient(270deg, #43cea2, #f72585);
  background-size: 400% 400%;
  animation: gradient-flow 6s ease infinite;
  color: white;
  border: 1px solid #43cea2;
}

div.selected-gradient-5 {
  background: linear-gradient(270deg, #ff512f, #ccff00);
  background-size: 400% 400%;
  animation: gradient-flow 6s ease infinite;
  color: white;
  border: 1px solid #ff512f;
}

div.selected-gradient-6 {
  background: linear-gradient(270deg, #fde4cf, #004e89);
  background-size: 400% 400%;
  animation: gradient-flow 6s ease infinite;
  color: white;
  border: 1px solid #36d1dc;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
